<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工步编辑页面</title>
    {% include "base-head.html" %}
    <script>
        var api = WsApi('/newline/step/',window.location.host);
        var newline = NewLine(api);

        api.ready(function () {
            // 用这个接口可以获取工步列表
            newline.get_steps(function (data) {
                console.log('get_steps success return:', data)
            }, function (response) {
                console.log('get_steps return fail, response=', response)
            });
        });

        api.ready(function () {
            // 用这个接口可以获取判定条件列表
            newline.get_all_supported_conditions(function (data) {
                console.log('get_all_supported_conditions success return:', data)
            }, function (response) {
                console.log('get_all_supported_conditions return fail, response=', response)
            });
        });

        api.ready(function () {
            // 用这个接口可以获取指定名称的工步
            newline.get_single_step('step1', function (data) {
                console.log('get_single_step success return:', data)
            }, function (response) {
                console.log('get_single_step return fail, response=', response)
            });
        });
/*
        api.ready(function () {
            // 用这个接口可以将工步保存为指定名称
            var step = {
              "mode": "自动模式",
              "liuliang": 34,
              "wendu": 56,
              "jiaregonglv": null,
              "xunhuan": null,
              "ttl": -1,
              "tiaojian": ["bms.temp", ">=", "10"],
              "true": "$auto",
              "false": "step1"
            };
            newline.step_save('step5', step, function (data) {
                console.log('step_save success return:', data)
            }, function (response) {
                console.log('step_save return fail, response=', response)
            });
        });
*/
        api.ready(function () {
            newline.steps_check(function (data) {
                console.log('check_steps success return:', data)
            }, function (response) {
                console.log('check_steps return fail, response=', response)
            })
        });

        api.ready(function () {
            newline.steps_status(function (data) {
                console.log('steps_status success return:', data)
            }, function (response) {
                console.log('steps_status return fail, response=', response)
            })
        });

        function append_step_to_table(name, step) {
            var html = '<tr class="text-center ' + name + '">';
            html += '<td id="id_' + name + '">-</td>';
            html += '<td>' + name + '</td>';
            html += '<td>' + step.mode + '</td>';
            html += '<td>' + step.liuliang + '</td>';
            html += '<td>' + step.wendu + '</td>';
            html += '<td>' + step.jiaregonglv + '</td>';
            html += '<td>' + step.xunhuan + '</td>';
            html += '<td>' + step.ttl + '</td>';
            html += '<td>' + step.tiaojian.join(' ') + '</td>';
            html += '<td>' + step.true + '</td>';
            html += '<td>' + step.false + '</td>';
            html += '<td><button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>&nbsp;';
            html += '<button class="btn btn-xs btn-success"><span class="glyphicon glyphicon-edit"></span></button></td>';
            html += '</tr>';

            $("#id_steps_list").append(html);
        }
        function check_all_steps() {
            newline.steps_check(function (data) {
                console.log('steps_check success return:', data);
                $("tr").removeClass("danger");
                $(".step_check_fail_reason").html('工步文件无误!');
            }, function (response) {
                var name = response.data;
                $("." + name).addClass("danger");
                $(".step_check_fail_reason").html(response.reason);
                console.log('steps_check return fail, response=', response)
            });
        }

        function start_steps() {
            newline.steps_check(function (data) {
                console.log('steps_check success return:', data);
                $("tr").removeClass("danger");
                $(".step_check_fail_reason").html('&nbsp;');

                newline.steps_start("step1", function (data) {
                    console.log('steps_start success return:', data);
                }, function (response) {
                    console.log('steps_start return fail, response=', response)
                });
            }, function (response) {
                var name = response.data;
                $("." + name).addClass("danger");
                $(".step_check_fail_reason").html(response.reason);
                console.log('steps_check return fail, response=', response)
            });
        }

        function pause_steps() {
            newline.steps_pause(function (data) {
                console.log('steps_pause success return:', data);
            }, function (response) {
                console.log('steps_pause return fail, response=', response)
            });
        }

        function stop_steps() {
            newline.steps_stop(function (data) {
                console.log('steps_stop success return:', data);
            }, function (response) {
                console.log('steps_stop return fail, response=', response)
            });
        }

        $(document).ready(function () {
            api.ready(function () {
                // 用这个接口可以获取工步列表
                newline.get_steps(function (data) {
                    console.log('get_steps success return:', data);
                    for ( step in data.steps ) {
                        append_step_to_table(step, data.steps[step]);
                    }

                    check_all_steps();
                }, function (response) {
                    console.log('get_steps return fail, response=', response)
                });
            });

            api.on_push_request = function (self, request) {
                // {{
                if ( request.data.path === '/newline/yx/' ) {
                    var data = request.data.yx;
                    /**/
                    $("#error").html("guzhang.")
                } else if ( request.data.path === '/newline/yc/' ) {
                    var data = request.data.yc;
                } else if ( request.data.path === '/bms/yx/' ) {
                    var data = request.data.yx;
                    /**/
                    $("#error").html("guzhang.")
                } else if ( request.data.path === '/bms/yc/' ) {
                    var data = request.data.yc;
                } else if ( request.data.path === '/newline/step/changed/' ) {
                    var old_step = request.data.old;
                    var new_step = request.data.new;

                    $("#id_" + old_step.name).html(old_step.loop);
                    if ( new_step.name !== '$end' ) {
                        $("#id_" + new_step.name).html("<span class='glyphicon glyphicon-play'></span>" + new_step.loop);
                    } else {
                        // 工步结束
                        $("#id_" + old_step.name).html("<span class='glyphicon glyphicon-stop'></span>" + new_step.loop);
                    }
                }
                // }}
                return self.make_response_without_error_package(request, 'copy');
            };
        });
    </script>
</head>
<body>
    {% include "base-navbar-top.html" %}

    <div class="container">
        <table class="table table-bordered table-striped table-responsive" id="id_steps_list">
            <caption>
                <div class="row">
                    <div class="col-xs-6">当前可编辑工步列表</div>
                    <div class="col-xs-6 text-right">
                        <a class="btn btn-success btn-xs" onclick="javascript:window.location.href='/steps/editor/'">编辑</a>
                        <a class="btn btn-default btn-xs" onclick="javascript:start_steps()">开始</a>
                        <a class="btn btn-default btn-xs" onclick="javascript:pause_steps()">暂停</a>
                        <a class="btn btn-default btn-xs" onclick="javascript:stop_steps()">停止</a>
                        <a class="btn btn-default btn-xs" onclick="javascript:check_all_steps()">重启</a>
                        <a class="btn btn-default btn-xs" onclick="javascript:check_all_steps()">检查</a>
                    </div>
                </div>
            </caption>
            <tr>
                <th rowspan="2"><br>执行状态</th>
                <th rowspan="2"><br>工步编号</th>
                <th rowspan="2"><br>运行模式</th>
                <th rowspan="2"><br>流量<br><small>(L/min)</small></th>
                <th rowspan="2"><br>温度<br><small>(℃)</small></th>
                <th rowspan="2"><br>加热功率<br><small>(%)</small></th>
                <th rowspan="2"><br>循环方式</th>
                <th rowspan="2"><br>运行时长<small><br>(秒)</small></th>
                <th rowspan="2"><br>条件列表</th>
                <th colspan="2">跳转控制</th>
                <th rowspan="2"><br>工步编辑</th>
            </tr>
            <tr>
                <th>匹配</th>
                <th>不匹配</th>
            </tr>
        </table>
        <div class="row">
            <div class="col-xs-12 text-danger step_check_fail_reason">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-danger">说明:</div>
                <div class="text-danger">$auto跳转目标为自动确认，规则如下:</div>
                <div class="text-danger">条件列表判断为<strong>真</strong>或运行时长超时自动转<strong>下一条</strong>工步</div>
                <div class="text-danger">条件列表判断为<strong>假</strong>且运行时长未超时继续执行当前工步</div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.js" ></script>
</body>
</html>